:root {
    --headerHeight: 71px;
    --navBarWidth: 350px;
    --maxContentWidth: 1500px;
    --pagePadding: 2rem;
}

html {
    scrollbar-gutter: stable;
}

body {
    overflow: overlay;
    overflow-x: hidden;
    scrollbar-color: var(--pico-secondary-border) transparent;
}


header {
    padding: 0 !important;
    border-bottom: 1px solid var(--pico-muted-border-color);
    backdrop-filter: blur(1rem);
    background-color: #13171fbd;
    position: sticky;
    top: 0;
    height: var(--headerHeight);
}


.headerContent {
    padding: 1rem 2rem;
    box-sizing: border-box;
    max-width: var(--maxContentWidth);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}


.headerContent h1 {
    margin: 0px;
    font-size: 1.5rem;
}

.headerContentRight {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mainContent {
    display: grid;
    grid-template-columns: minmax(var(--navBarWidth), var(--navBarWidth)) auto;
    max-width: var(--maxContentWidth);
    margin: 0 auto;
    padding-left: var(--pagePadding);
}

main {
    overflow: hidden;
    padding: var(--pagePadding);
}

main *:focus-visible {
    outline: none;
}


body nav {
    background-color: hsl(222 23% 15% / 1);
    border: 0.5rem solid hsl(222 23% 15% / 1);
    padding-right: 0.5rem;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;

    height: calc(100vh - var(--headerHeight) - var(--pagePadding) * 2);
    overflow: auto;
    position: sticky;
    top: calc(var(--headerHeight) + var(--pagePadding));

    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.2s;
}

body nav:hover {
    scrollbar-color: var(--pico-secondary-border) transparent;
}


nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 !important;
}

.navBarItem {
    padding: 0.5rem 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    color: var(--pico-h3-color);
    transition: background-color 0.2s;
}

.navBarItem:not(:last-child) {
    margin-bottom: 4px;
}

.navBarItem:not(.submenuHeader):hover,
.navBarItem:not(.submenuHeader):focus {
    background-color: hsl(222 23% 20% / 1);
    outline: none;
}

.navBarItemSelected {
    color: var(--pico-primary);
    background-color: hsl(222 23% 20% / 1);
}

.navBarItem.submenuHeader {
    font-weight: bold;
    color: var(--pico-h2-color);

    border-bottom: 1px solid var(--pico-secondary-border);
    border-radius: 0px;
    cursor: default;
}

.navBarItem.submenuHeader:not(:first-child) {
    margin-top: 1rem;
}

md-block img {
    border-radius: 8px;
}

md-block pre code {
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.2s;
}

md-block pre code:hover {
    scrollbar-color: var(--pico-secondary-border) transparent;
}

img,
md-block pre,
body nav,
.navBarItemSelected {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}